[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xlrd = "*"
click = "*"
pydantic = "*"
uno = "*"
unoconv = "*"

[dev-packages]
black = "*"
ipython = "*"
ipdb = "*"
isort = "*"

[requires]
python_version = "3.9"
